.feature-row {
  margin-right: 0px;
}
.feature-banner-row {
}
.feature-bar-img {
  float: left;
  overflow: hidden;
  width: 75px;
  height: 75px;
  background-color: #d2222c;
  border: 3px solid #d2222c;
  color: #1f3f7c;
  text-decoration: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-top: -10px;
  margin-left: 40px;
}
.feature-bar-img img {
  height: auto;
  width: 100%;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
}
.feature-large-img {
  margin-left: 40px;
}
