header {
  margin-bottom: 20px;
}
.header-main-logo {
  margin-top: 2px;
  margin-left: 30px;
  width: 60px;
  height: 78px;
  text-align: center;
  float: left;
}
.header-main-logo-img {
  height: 100px;
}
.upper-bar {
  height: 45px;
  background-color: #ea1d2e;
}
.upper-bar-list {
  list-style-type: none;
  margin: 0;
  padding-left: 130px;
}
.upper-bar-text {
  font-size: 1.2rem;
  margin-left: 40px;
  float: left;
  color: #ffffff;
  line-height: 45px;
}
.upper-bar-right-item {
  font-size: 0.9rem;
  float: right;
  margin-right: 22px;
  line-height: 45px;
}
.upper-bar-right-item-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: .14rem solid #ffffff;
  padding: .1rem;
  font-weight: 500;
}
.lower-bar {
  height: 45px;
  background-color: #ffffff;
}
.above-nav-list,
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 80px;
}
.above-nav-item {
  color: #203e7c;
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: 1.3rem;
  text-decoration: none;
}
.nav-item {
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 1.2rem;
  color: #000000;
  text-decoration: none;
  float: left;
}
.above-nav-item:hover,
.nav-item:hover {
  color: #A9A9A9;
  transition: all 0.2s ease-in-out;
}
.upper-bar-right-item-link:hover {
  color: #203e7c;
  border-bottom: .14rem solid #203e7c;
}
.quick-tour-nav {
  float: right;
  height: 45px;
}
.quick-tour-nav-button {
  float: right;
  background-color: #203e7c !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  width: 250px;
  height: 45px;
}
.quick-tour-nav-button-hover {
  width: 250px;
  height: 100%;
}
.quick-tour-nav-button-text {
  font-size: 1.2rem;
  line-height: 0px;
  letter-spacing: 0px;
}
/* button hover dev */
 .quick-tour-nav-button-text {
  height: auto;
  width: 100%;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  
}
.quick-tour-nav-button:hover .quick-tour-nav-button-text {
  height: auto;
  width: 100%;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* */

/* Responsive header */
@media only screen and (min-width: 916px) {    /* 916px needed to fit header content. 768px is mobile switch. */
  .mobile-header {
    display: none;
  }
  #quick-tour-list-display {
    display: none;
  }
}
@media only screen and (max-width: 916px) and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
  #header-under-roof-text {
    display: none;
  }
  #quick-tour-button-display {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .desktop-header {
    display: none;
  }
}
.mobile-header,
.mobile-nav-item {
  margin-bottom: 0px;
  font-size: 1.2rem;
  color: #000000;
}
.mobile-dropdown-menu {
  background-color: #1F3F7C;
}
.mobile-dropdown-menu a {
  padding: 0 !important;
}
.mobile-drop-item {
  font-weight: 300;
  height: 44px;
}
.mobile-dropdown-menu .mobile-drop-item:active, .mobile-dropdown-menu .mobile-drop-item:hover {
  color: #000000 !important;
}

@media screen and (max-width: 356px) {
  .mobile-nav-item {
    margin-right: -20px;
  }
}

.mobile-phone {
  width: 115px;
}
