header {
  margin-bottom: 20px;
}

.header-main-logo {
  margin-top: 2px;
  margin-left: 30px;
  width: 60px;
  height: 78px;
  text-align: center;
  float: left;
}
.header-main-logo-img {
  height: 90px; /* 78 */
}
.upper-bar-list {
  list-style-type: none;
  margin: 0;
  padding-left: 130px;
}
.upper-bar {
  height: 40px;
  background-color: #ea1d2e;
}
.upper-bar-text {
  margin-left: 40px;
  float: left;
  color: #ffffff;
  line-height: 40px;
}
.upper-bar-right-links {
  font-size: 0.7rem;
  float: right;
  margin-right: 40px;
  color: #ffffff;
  line-height: 40px;
  border-bottom: 2px solid #ffffff;
}
.lower-bar {
  height: 40px;
  background-color: #ffffff;
}
.above-nav-list,
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 80px;
}
.above-nav-item {
  color: #203e7c;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}
.nav-item {
  font-size: 0.7rem;
  margin-right: 1.1rem;
  color: #000000;
  text-decoration: none;
  float: left;
}
.above-nav-item:hover,
.nav-item:hover {
  color: #666666;
}
.quick-tour-nav {
  float: right;
  height: 40px;
  margin-right: -209px;
}

/* Responsive header */
@media only screen and (min-width: 826px) {
  .mobile-header {
    display: none;
  }
}
@media only screen and (max-width: 825px) {
  .desktop-header {
    display: none;
  }
}
.mobile-header,
.mobile-nav-item {
  /* margin-right: 0px; */
  margin-bottom: 0px;
  font-size: 1rem;
  color: #000000;
}
.mobile-dropdown-menu a {
  padding: 0 !important;
}
.mobile-drop-item {
  font-weight: 300;
  height: 44px;
}
@media screen and (max-width: 356px) {
  .mobile-nav-item {
    margin-right: -20px;
  }
}

.quick-tour-nav-button {
  float: right;
  background-color: #203e7c !important;
  padding: 9px;
  margin-top: 0px !important;
  margin-right: 0px !important;
  width: 250px;
  height: 40px;
}
.quick-tour-nav-button-text {
  font-size: 1.1rem;
  line-height: 0px;
  letter-spacing: 0px;
}
