
.promo-item {
  margin-bottom: 10px;
}
.promo-headline {
  margin-left: 20px;
}
.promo-headline-month {
  margin-right: 20px;
}

/* 1st Column*/
.promo-img-col {
}
.promo-img {
  height: 100%;
}
.promo-img-wrapper {
  height: 100%;
  width: 100%;
}
.promo-img-wrapper td {
  vertical-align: middle;
  text-align: center;
}
.promo-img img {
  height: auto;
  max-height: 350px;
  width: 100%;
  max-width: 350px;
}

.promo-item-title h3 {
  color: #1f3f7c;
  font-weight: 400;
  padding-top: 5px;
  margin-bottom: 0;
}
/* /1st Column*/

/* 3rd Column*/
.promo-catalog-col {
  min-width: ;  /* 350px */
  margin-left: 0px;
  padding: 0px;
}
.promo-catalog-image {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
}
.promo-catalog-image-wrapper {
  height: 100%;
  width: 100%;
}
.promo-catalog-image img {
  height: auto;
  max-height: 450px;
  width: 100%;
  max-width: 450px;
}
.promo-catalog-image-wrapper tr,
td {
  vertical-align: middle;
  text-align: center;
}

.browse-catalog-button {
  background-color: #ea1d2e !important;
  width: 325px;
  max-width: 390px;
  font-size: 1.1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
/* /3rd Column*/
