.request-quote-title {
    display: none;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #1f3f7c;
    font-weight: 400;
}
.frm_required {
    color: #ea1d2e;
}
.quote-submit-button {
    background-color: #1f3f7c !important;  /* #ea1d2e */
    margin-bottom: 40px;
    padding: 10px 0;
    width: 250px;
    font-size: 1.2rem;
    /* font-weight: 500; */
}
form {
    margin-top : 20px;
}
form h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #1f3f7c;
    font-weight: 450;
}
form label {
    background-color: ;
    margin-top: 10px;
    color: #1f3f7c;
    font-weight: 400;
}
form input, select, textarea {
    border-color: #1f3f7c !important;
}