
.specials-item-content-row {
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

.specials-item-img {
    height: 100%;
  }
  .specials-item-img-wrapper {
    height: 100%;
    width: 100%;
  }
  .specials-item-img-wrapper td {
    vertical-align: middle;
    text-align: center;
  }
  .specials-item-img img {
    height: auto;
    max-height: 350px;
    width: 100%;
    max-width: 350px;
  }