.file-transfer-main-row h4{
    color: #1f3f7c;
    font-weight: 400;
}
.send-file-col {
    /* min-width: 607px;  */
    /* background-color: #1f3f7c;  */
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid #1f3f7c;
}
.send-file-div {
    padding: 50px 0;
    color: #ffffff;
}
.send-file-text {
    color: #ffffff !important;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.file-submit-button {
    width: 250px;
    background-color: #1f3f7c !important;
    font-size: 1.2rem;
    padding: 10px 0;
    /* margin-top: 20px !important; */
}