@media screen and (max-width: 766px) {
    .file-transfer-main-row {
      margin-bottom: 100px !important;
    }
  }

.file-transfer-main-row h4{
    color: #1f3f7c;
    font-weight: 400;
}
.send-file-col {
    /* min-width: 607px;  */
    /* background-color: #1f3f7c;  */
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid #1f3f7c;
}
.form-descrip {
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.send-file-div {
    padding: 50px 0;
    color: #ffffff;
}
.send-file-form {
    margin-top: 0;
}
.send-file-text {
    color: #ffffff !important;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.file-submit-button {
    width: 250px;
    background-color: #1f3f7c !important;
    font-size: 1.2rem;
    padding: 10px 0;
    /* margin-top: 20px !important; */
}

.custom-file-label {
    margin-top: 0;
}
.submit-file-receive-info-section {
    margin-top: 10px;
}
.frm_required {
    color: #ea1d2e;
}
form label {
    background-color: ;
    margin-top: 10px;
    color: #1f3f7c;
    font-weight: 400;
}
.custom-file-label {
    border-color: #1f3f7c !important;
}
form input, select, textarea {
    border-color: #1f3f7c !important;
}